.debug * {
    border: 1px solid black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --dark-grey: #141414;
    --light-grey: #d9d9d9;
    --main-trans: 200ms;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-grey);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid var(--light-grey);
}

.nav_left_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-right: 40px;
    height: 40%;
}

.nav_left_container li {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey);
    margin-left: 15px;
    transition: var(--main-trans);
}

.nav_left_container li:hover {
    color: white;
    cursor: pointer;
}

.nav_right_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.movie_box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 450px;
    margin: 20px 0 0 20px;
    overflow-x: scroll;
    /* border-bottom: 1px solid var(--light-grey); */
}

.movie_item {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;
    height: 450px;
    margin-right: 5px;
    background-color: lightgrey;
    overflow: hidden;
}

.movie_title {
    width: 100%;
}

.movie_poster {
    position: relative;
    height: 100%;
    z-index: 999;
    transition: 200ms;
}

.movie_poster img {
    /* height: 100%; */
    object-fit: contain;
}

.movie_poster:hover {
    opacity: 0;
    cursor: pointer;
}

.movie_info {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 400px;
}