.debug * {
    border: 1px solid black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --dark-grey: #141414;
    --light-grey: #d9d9d9;
    --red: #c63531;
    --main-trans: 200ms;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-grey);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid var(--light-grey);
}

.nav_left_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-right: 40px;
    height: 40%;
}

.nav_left_container li {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey);
    margin-left: 15px;
    transition: var(--main-trans);
}

.nav_left_container li:hover {
    color: white;
    cursor: pointer;
}

.nav_right_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_right_container .fa-bell {
    margin-left: 10px;
    font-size: 18px;
    color: var(--light-grey);
}

.nav_right_container input {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    width: 250px;
    padding: 5px 10px;
    color: var(--light-grey);
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    background-color: transparent;
    border: 1px solid var(--light-grey);
}

.nav_right_container input:focus {
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
}

.movie_box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: calc(100% - 20px);
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
    overflow-x: scroll;
}

.movie_item {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;
    height: 450px;
    margin-right: 5px;
    background-color: var(--light-grey);
    overflow: hidden;
}

.movie_poster {
    position: relative;
    height: 100%;
    z-index: 999;
    transition: 200ms;
    cursor: pointer;
}

.movie_poster img {
    height: 100%;
    object-fit: cover;
}

.movie_poster:hover {
    opacity: 0;
}

.movie_info {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: black;
    width: 300px;
    height: 450px;
    padding: 10px;
}

.movie_title h2 {
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
}

.movie_title h4 {
    margin-top: 3px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
}

.stars {
    margin: 10px 0;
    font-size: 10px;
}

.overview {
    font-size: 10px;
    height: 350px;
    overflow: hidden;
    text-align: justify;
}

.flag {
    position: absolute;
    bottom: 10px;
    right: 10px;
}