.debug * {
    border: 1px solid black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.search_box {
    height: 100px;
    width: 100%;
}

.movie_box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 4px 5px lightgrey;
}

.movie_item {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;
    height: 400px;
    margin: 10px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    overflow: hidden;
    box-shadow: 0 1px 3px lightgrey;
}

.movie_poster {
    position: relative;
    cursor: pointer;
    z-index: 999;
    transition: 200ms;
}

.movie_poster img {
    object-fit: cover;
}

.movie_poster:hover {
    opacity: 0;
}

.movie_info {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 400px;
}